@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-principal: #d3d3d3;
    --cor-botao: #002f96;
    --fonte-branca: #ffffff;
    --fonte-preta: #000000;
    --fonte-cinza: #181818;

    --cor-borda: #000000;
    --cor-link: #00a2ff;
    --cor-hover: #162fa0;

    --fonte: "Montserrat", sans-serif;
    font-size: 1.5em;


}

body {
    font-family: var(--fonte);
}

/* Header */
.cabecalho {
    background: var(--cor-principal);
    padding: 2em 10vw;
}

hr {
    margin: 0 0 1em 0;
}

.logo img {
    width: 65%;
}

.cabecalho_conteudo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.cabecalho_botao {
    display: flex;
    justify-content: space-between;
}

.lista_botao {
    display: block;
    text-align: center;
    width: 60%;
    text-decoration: none;
    padding: 5% 15%;
    background-color: var(--cor-botao);
    color: var(--fonte-branca);

    border-radius: 50px;
    border: 1px solid var(--cor-borda);
}

/* .box {
    width: 30%;

} */

.cabecalho_links {
    display: flex;
}

.cabecalho_links img {
    width: 35px;
    margin-left: 1em;
}




.conteudo {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 1em 2em;
}

.selecao {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    flex-wrap: wrap;
    border: 1px solid var(--cor-borda);
    border-radius: 25px;
    box-shadow: 0 3px 4px 1px var(--cor-borda);
    margin: 1em 0;
}

.selecao_posicionamento_titulo {
    direction: initial;
    margin: 1em 25vw 1em 25vw;
}


.selecao_titulo {
    margin: 0.5em 0 0.5em 0;
    font-size: 1.5em;
    font-weight: 700;
}

.selecao_artigo {
    width: 25%;
    margin: 1em;
    border-radius: 15px;
    border: 1px solid var(--cor-borda);
}

.selecao_artigo img {
    width: 100%;
    height: 10em;
    border-radius: 15px 15px 0 0;
}

.selecao_artigo a {
    text-decoration: none;
    color: var(--fonte-preta);
}

.selecao_subtitulo {
    align-items: center;
    padding: 1em 0.5em 2em;
    font-weight: 500;
    border-top: 1px solid var(--cor-borda);
}

.selecao_conteudo {
    display: flex;
    width: 99%;
    border-radius: 10px;
    box-shadow: 0px 1px 5px 3px black;
    margin: 1em;
}

.selecao_curiosidades {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--fonte-branca);
}

.selecao_curiosidades_artigos {
    width: 90%;
}

.artigo_imagem {
    display: flex;
    margin: 0.5em 1em;

}

.artigo_imagem img {
    width: 25%;
    border-radius: 25px;
}

.artigo_texto {
    text-align: start;
    font-size: 1em;
    padding: 2em;
    font-weight: 500;
}

.artigo_texto strong {
    font-weight: 700;
}

.artigo_link {
    text-decoration: none;
    color: var(--cor-link);
}

.artigo_link:hover {
    color: var(--cor-hover);
}

.selecao_noticia {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;

}

.noticia_posicionamento_titulo {
    padding: 1em 25vw;
    margin: auto;
}

.selecao_artigo_noticia {
    width: 90%;
    margin: 1em;
}

.selecao_artigo_noticia img {
    width: 70%;
    border-radius: 50px;
    margin-left: 10px;
}

.noticia_texto p {
    display: flex;
    text-align: start;
    font-size: 1.2em;
    padding: 1em 1em 0.5em 0;
    font-weight: 500;
    color: var(--fonte-cinza);
}

.segundo_paragrafo {
    width: 50%;
    padding: 1em;
}

.noticia_imagem {
    display: flex;
    width: 95%;
    flex-direction: column;
    color: var(--fonte-cinza);
    justify-content: center;
    align-items: center;
    font-size: 1em;
}

.noticia_imagem img {
    display: flex;
    width: 95%;

}

.container_noticia {
    display: flex;
    flex-direction: row;
}

.noticia_subtitulo {
    font-size: 1.5em;
    font-weight: 700;
    padding: 0.5em 0;
}



.posicionamento_outras_noticia {
    width: 90%;
    display: flex;
}

.outras_noticias div {
    display: flex;
    width: 95%;
    justify-content: center;
    align-items: center;
}

.outras_noticias img {
    width: 90%;
    padding: 0.5em;
    border-radius: 25px;
}



.link_reviews {
    border: 1px solid var(--cor-borda);
    border-radius: 25px;

}

.link_reviews div {
    width: 95%;
    display: flex;
    margin: 1em 0.5em;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.link_reviews_card img {
    width: 95%;
    padding: 0.5em;
    border-radius: 25px;
}


.descrisao_imagem {
    display: flex;
    margin: 0.5em 0.4em;
    padding: 0.1em 0.4em 0 0.4em;
    font-family: serif;
    font-size: 0.8em;



}

.descrisao_imagem a {
    display: block;
    font-family: serif;
    font-size: 1.0em;
    list-style: none;
    text-decoration: none;
    color: #0808dd;

}

.container_imagem {
    margin: 2em 0;
}

.container_imagem div {
    justify-content: center;
}

.noticia_texto_lista {
    display: flex;
    font-size: 1.2em;
    color: var(--fonte-cinza);
    font-family: monospace;
}

footer {
    width: 100%;
    height: 50px;
    margin-top: 20px;

}

#copy {
    font-size: 11px;
    margin-left: 30px;
}

.sobre_nos{
    text-align: start;
    text-decoration: none;
    font-size: 1em;
    padding: 2em;
    color: var(--fonte-preta);
}
